<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Planner</title>
    <link rel="icon" href="images/planner.png">
    <!--JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>

    <!--Bootstrap CSS Framework-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>


    <link rel="stylesheet" href="css/Index.css">
</head>
<body style="align-content: center">
<div class="center container-fluid">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"
             style="background:url(images/index-bg.jpg);background-size:cover">
        </div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4 text-center">Welcome to Event Planner !</h3>
                            <form>
                                <img src="images/planner.png"
                                     width="200px"
                                     height="200px"
                                     class="rounded"
                                     style="margin: auto;display: block"
                                     alt="Event Planner"><br/>
                                <h6 class="login-heading mb-4 text-center">Please login with Google to continue</h6>
                                <div class="row">
                                    <div class="col-md-12"><a
                                            class="btn btn-lg btn-google btn-block text-uppercase btn-outline"
                                            href="https://accounts.google.com/o/oauth2/v2/auth?redirect_uri=http://localhost:8081/api/google/grant&prompt=consent&response_type=code&client_id=423813053107-nbsq7u3pq9r93e5hl0ikou46qubs9t5v.apps.googleusercontent.com&scope=https://www.googleapis.com/auth/calendar&access_type=offline"><img
                                            src="https://img.icons8.com/color/20/000000/google-logo.png"> Log in With
                                        Google</a></div>
                                </div>
                                <br>

                                <div class="text-center">
                                    <a class="small" href="#">Forgot password?</a></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>